/*Main CSS file */

/*CSS reset*/
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: Roboto-regular; /* Имя шрифта */
    src: url(/public/fonts/font_roboto_regular.woff); /* Путь к файлу со шрифтом */
   }
  
@font-face {
    font-family: Roboto-bold; /* Имя шрифта */
    src: url(/public/fonts/font_roboto_bold.woff); /* Путь к файлу со шрифтом */
   }

/* Common styles */
article, aside, footer, header, main, nav, section{
    display: block;
}
html{
    height: 100%;	
}
section {
    min-height: calc(100vh - 120px);
}

body {
    font: 17px Roboto-Regular;
    line-height: 1.2;
    letter-spacing: normal;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 1024px;
    margin: 0 auto;
    
}

textarea {
    font: 17px Roboto-Regular;
}

header {
    height: 60px;
    background: #5e852c;
}
footer {
    height: 60px;
    background: #f5f5f4;
}

.copyright {
    color: #5e852c;
    text-align: center;
    padding-top: 20px;
}

.logo {
    height: 60px;
    width: 120px;
    float: left;
}

.logo h1 a {
    display: block;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.logo h2 a {
    display: block;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.title h1 a {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
    float:left;
    text-decoration: none;
}

.user{
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 24px;
    float: right;
    margin-top: 18px;
}
.user a{
    margin-right: 30px;
    font-size: 15px;
    color:#ffffff;
}


.slider{
	height: 300px;
	width: 100%;
	background: #f5e8d6;
    margin-bottom: 20px;
}

#slides{
	position: relative;
	height:300px;
    list-style-type: none;
}

.slide{
	position: absolute;
	width: 1024px;
	height: 300px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	z-index: 1;

    -webkit-transition: opacity 1s;
 	-moz-transition: opacity 1s;
 	-o-transition: opacity 1s;
    transition: opacity 1s;
     
    background-repeat: no-repeat;
    background-size: 1024px;
    background-position: bottom;
}

.slide:nth-of-type(1){
	background-image: url(../images/skd_slide.jpg);
}
.slide:nth-of-type(2){
	background-image: url(../images/fas_slide.jpg);
}
.slide:nth-of-type(3){
	background-image: url(../images/val_slide.jpg);
}

.slide_desc{
	width: 430px;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 70px auto;
	padding: 10px;


}

.slide_desc h2{
	margin-top: 15px;
	font-size: 20px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.slide_desc p{
	color: white;
	margin-top: 20px;
    text-align: center;
}

.showing{
	opacity: 1;
	z-index: 2
}

/* Content */
.mainContent{
    min-height: calc(100px*2);
    /*min-height: 120px;*/
}

.content-login{
    min-height: calc(100vh - 300px);
}


.systemsColLeft{
    float:left;
    width: 50%;
}
.systemsColRight{
    float:right;
    width: 50%;
}
#skdItem a{
    background-image: url(../images/turniket2.png);
}
#fasItem a{
    background-image: url(../images/fas.png);
}
#visitItem a{
    background-image: url(../images/evaluate.png);
}

.systems a{
    display:block;
    width: 100%;
    height: 100px;
    border: 1px solid #a7a7a7;
    background-repeat: no-repeat;
    background-position: left 5px top 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 115px;
    padding-top: 38px;
    box-sizing: border-box;
    color: #a7a7a7;
    overflow: hidden;
    transition: 0.3s;
}
.systems a:hover{
    background-color: #fafaf9;
    color: #95c93d;
    transition: 0.5s;
}

.login {
    width: 450px;
    height: 280px;
    border: 1px solid #a7a7a7;
    margin: 100px auto 0;
    border-radius: 5px;
    background-color:white;
}

.login p {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.login h2{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #a7a7a7;
    text-align: center;
    font-size: 20px;
}

input[type=text], input[type=password] {
    display: inline-block;
    width: 350px;
    padding: 5px 10px;
    margin: 10px 50px;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.results input[type=tel] {
    cursor: text;
    display: inline-block;
    width: 150px;
    padding: 3px 5px;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],.signInButton {
    display: block;
    width: 250px;
    background-color: #5e852c;
    color: white;
    padding: 14px 20px;
    margin-top:20px; 
    margin-left: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.25s;
}

input[type=submit]:hover {
    /*background-color: #4CAF50;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.system-title{
    height: 70px;
    background: #f5f5f4;
}

.system-title h2{
    color: #00a1dd;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.results{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
}

.results h3{
    text-align: center;
    line-height: 1.8;
}

.results table {
    margin: 10px auto;
    border: 1px solid black;
    width: 100%;
}
.results td, .results th {
    border: 1px solid black;
    padding: 3px;
}


.results caption {
    text-align: center;
    font-size: 20px;
    margin: 10px auto 5px;
}


.visitResults, .visitAResults {
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.visitResults h3, .visitAResults h3 {
    text-align: center;
    line-height: 1.8;
}

.visitResults table .visitAResults table {
    margin: 10px auto;
    border: 1px solid black;
    width: 100%;
}
.visitResults .planned, .visitAResults .planned {
    cursor: not-allowed !important;
}
.visitResults .allowed, .visitAResults .allowed {
    cursor: pointer;
    transition: 0.25s;
}
.visitResults .allowed:hover, .visitAResults .allowed:hover {
    background-color: rgb(226, 234, 255);
    transition: 0.25s;
}
.visitResults td, .visitResults th, .visitAResults td, .visitAResults th {
    border: 1px solid black;
    padding: 3px;
}
.visitResults td, .visitAResults td {
    text-align: left;
    height: 35px;
}
.visitResults .results td, .visitResults .results th, .visitAResults .results td, .visitAResults .results th {
    border: 1px solid #0191c5;
    height: 35px;
    width: 50px;
    text-align: center;
}
.visitResults caption, .visitAResults caption {
    text-align: center;
    font-size: 20px;
    margin: 0px auto 5px;
}
.visitResults td:first-child, .visitAResults td:first-child {
    text-align: center;
    width: 30px;
}
.visitResults tr td:last-child, .visitAResults tr td:last-child {
    text-align: center;
    width: 170px;
}
.visitResults .results tr td:last-child, .visitAResults .results tr td:last-child {
    text-align: left;
}
.visitResults tr td:nth-child(3) {
    width: 120px;
}
.visitResults tr td:nth-child(4) {
    width: 80px;
}
.visitResults tr td:nth-child(5) {
    width: 220px;
}
.visitAResults tr td:nth-child(3) {
    width: 185px;
}
.visitAResults tr td:nth-child(4) {
    width: 125px;
    text-align: center;
}
.visitAResults tr td:nth-child(5) {
    width: 220px;
}

#tempRow {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-15px);
        /*transform: scaleY(0);*/
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        /*transform: scaleY(1);*/
    }
}    

.visitPattern {
    /*border: 1px solid #5e852c;
    border-radius: 10px;
    padding: 15px;*/
    margin-top: 10px;
}

.visitResults .selectEvaluation {
    /*margin-left: 20%;
    margin-right: 20%;*/
    width: 45px;
    height: 30px;
    font-size: 16px;
}

.visitSelects {
    width: 100% !important;
}

.visitInputs {
    margin: 0px !important;
    width: 100% !important;
    height: 35px;
}
#visitDate {
    width: 94.5% !important;
}

.status {
    background-color: rgb(235, 235, 235) !important;
    text-align: center;
    width: 98%;
    height: 28px;
    border-radius: 5px;
    margin: auto;
    padding-top: 6px;
    display: block;
    pointer-events: none;
}

.skd-menu li{
    list-style: none;
    display: inline;
    margin-right: 5px;
}




/* Tabs style */
.ui-tabs {
  margin: 0 auto;
  width: 100%;
}
.ui-tabs > label {
  cursor: pointer;
  float: left;
  margin-right: 5px;
  margin-top:10px;
  display: block;
  padding: 10px 10px;
  background-color: #ecf0f1;
  border-radius: 20px 20px 0 0;
  height: 20px;
  transition: 0.15s;
}
.ui-tabs > label[for='standard'], .ui-tabs > label[for='attestation'] {
  width: calc(50% - 26px);
  text-align: center;
}
.ui-tabs > label:hover {
  margin-top:5px;
  height: 25px;
  transition: 0.15s;
}
.ui-tabs > input {
  display: none;
}
.ui-tabs > input:checked + label {
  background-color: #5e852c;
  color: #fefefe;
  margin-top:10px;
  height: 20px;
}
.ui-tabs input[id="userControl"]:checked ~ .content .userControl,
.ui-tabs input[id="studentControl"]:checked ~ .content .studentControl,
.ui-tabs input[id="staffControl"]:checked ~ .content .staffControl,
.ui-tabs input[id="generalControl"]:checked ~ .content .generalControl,  
.ui-tabs input[id="addParentContact"]:checked ~ .content .addParentContact,  
.ui-tabs input[id="monitoring"]:checked ~ .content .monitoring,
.ui-tabs input[id="inventory"]:checked ~ .content .inventory,
.ui-tabs input[id="seach"]:checked ~ .content .seach,
.ui-tabs input[id="roleSettings"]:checked ~ .content .roleSettings,
.ui-tabs input[id="inventoryControl"]:checked ~ .content .inventoryControl,
/*MTdev*/
.ui-tabs input[id="bypassControl"]:checked ~ .content .bypassControl,
.ui-tabs input[id="standard"]:checked ~ .content .standard,
.ui-tabs input[id="attestation"]:checked ~ .content .attestation,
.ui-tabs input[id="myVisits"]:checked ~ .content .myVisits,
.ui-tabs input[id="myEvaluations"]:checked ~ .content .myEvaluations,
.ui-tabs input[id="Reports"]:checked ~ .content .Reports,
.ui-tabs input[id="Managements"]:checked ~ .content .Managements,
.ui-tabs input[id="myAVisits"]:checked ~ .content .myAVisits,
.ui-tabs input[id="myAEvaluations"]:checked ~ .content .myAEvaluations,
.ui-tabs input[id="AReports"]:checked ~ .content .AReports,
.ui-tabs input[id="AManagements"]:checked ~ .content .AManagements
{
  display: block;
}
.ui-tabs .content {
  clear: both;
  position: relative;
}
.ui-tabs article {
  position: static;
  top: 0;
  left: 0;
  background-color: #fff;
  display: none;
  /*min-height: 200px;*/
  border-top: 5px solid #5e852c;
  border-left: 1px solid #5e852c;
  border-right: 1px solid #5e852c;
  border-bottom:1px solid #5e852c;
  border-radius: 0 10px 10px 10px;
  padding: 15px;
}
.ui-tabs input, .ui-tabs select{
    /*cursor: pointer;*/
    font-size: 16px;    
    background-color: white;
    border-radius: 4px;
    padding: 3px;
    font: 17px Roboto-Regular;

}
.ui-tabs select{
    width: 250px;
    height: 30px;
}

#studentSet {
    margin: 10px;
}

.ui-tabs button{
    height: 35px;
    background-color: #5e852c !important;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 30px;
    /*margin: 0 5px 0 5px;*/
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: 0.25s;
}
.ui-tabs button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}
.ui-tabs button:active {
    background-color: #689F38;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);*/
}

div .controls{
    margin: 0 auto;
}

.hide{
    display: none;
}

.paramSelect{
    display: block;
    margin: 15px auto 10px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #00a0db;
}

.paramSelect p{
    text-align: center;
    padding-bottom: 7px;
    font-weight: bold;
}

.paramSelect label{
    padding: 5px;
    line-height: 2;
    cursor: pointer;
}

.paramSelect input{
    padding: 3px 3px 2px;
    /*margin-left: 20px;*/
    margin-top: 10px;
}
.paramSelect input:last-child{
    margin-bottom: 10px;
}
/*
.paramSelect select {
    padding: 6px;
    margin-bottom: 10px;
}
*/
.paramSelect div.grades{
    width:120px;
    margin: 0 auto;
}

.paramSelect div.divisions{
    width:350px;
    margin: 0 auto;
}

.paramSelect select{
    width:55px;
    height:35px;
}

.sendQuery{
    display: block;
    margin: 20px auto 0 !important;
}

#selectDivision{
    width:350px;
    height:35px;
    font-size: 16px;
    margin: 0 auto;
}

#selectPerson{
    width:300px;
}
#selectStudent{
    width:300px;
}
#personSet{
    margin-left:40px;
}



/*FAS styles*/

.fasSeachPanel input[type=text]{
    display: inline-block;
    width: 350px;
    padding: 5px 10px;
    margin-left:0px; 
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}


.fasResultTable{
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
}

.fasResultTable h3{
    text-align: center;
    line-height: 1.8;
}

.fasResultTable table{
    margin: 0 auto;
    border: 1px solid black;
    
}
.fasResultTable td, .fasResultTable th {
    border: 1px solid black;
    padding: 3px;
}

.fasResultTable caption{
    text-align: center;
    font-size: 20px;
}

/*
    Autocomplete styles
*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width:100%;
  /*margin-top: 10px;*/
}

/*Input styles*/
.autocomplete input {
/*  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border: 1px solid transparent;
  background-color: #f1f1f1;*/
  padding: 10px;
  font-size: 16px;
}
#params{
    flex: 1.6;
    display: block;
    width: 95%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #00a0db;
}
.autocomplete input[type=text] {
  width: 400px;
  border-radius: 5px;
  height: 35px;
  margin: 10px;
}

.autocomplete #personForVisit {
    width: 30%;
    margin-bottom: 5px;
}

input[type=date] {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 21px;
    width: 140px;
    margin-right: 10px;
}

.autocomplete #visitSelectLesson, .autocomplete #visitMeSelectLesson {
    width: 55px;
    height: 35px;
    margin-right: 10px;
}

/*Autocomplete items style*/
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  right: 0;
  width: 385px;
  text-align: left;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

table.users{
    margin: 0 auto;
}
table.users tr{
    border: 1px solid #5e852c;
}
table.users td{
    /*padding: 3px 10px;*/
    max-width: 250px;
    width: 1px;
}

table.users tr:hover td{
    background: rgb(226, 234, 255);/* фон строки при наведении */
}

div #msg p {
    color:red;
    align-content: center;
}

/*.commonInfo, #numberOfVisits {
    width: 95%;
}*/
.commonInfo{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #00a0db;
    text-align: center;
}

.userFasControl{
    margin-bottom: 15px;
    text-align: center;
}

/*SKD GeneralControl style */
.content .container{
    display: flex;
}
.content .box-1{
    flex: 1.75;
    
}
.content .box-2{
    flex: 1;
    margin-left: 10px;
}

.content .generalControl .container table{
    margin: 0 auto;
    border: 1px solid black;
}
.content .generalControl .container td, .content .generalControl .container th {
    border: 1px solid black;
    padding: 3px;
}
.content .generalControl .container caption{
    text-align: center;
    font-size: 20px;
}

.but{
    display: inline-block;
}
.visitBut {
    margin-right: 2px;
    margin-left: 2px;
    padding: 5px !important;
}
.delBut{
    display: inline-block;
    padding: 5px 10px !important;
}
#invTransmittingPerson{
    margin-top: 20px;
}

.gcReportType{
    margin-bottom: 10px;
    margin-left: 220px;
}

.gcReportControls{
    margin-top: 8px;
    margin-left: auto;
    width: 500px;
}


/*INVENTORY style */
.ui-tabs .inv-select-location{
    font-size: 14px;
}

.ui-tabs .inv-select-comment{
    font-size: 14px;
}
.ui-tabs .inventoryPanel{
   width: auto;
}

.ui-tabs .inventoryPanel .inventoryButtons {
    margin: 0 auto;
    margin-top: 5px;
    width: 450px;
 }

button:disabled{
    background-color:gray !important;
    cursor: default;
    box-shadow: none !important;
}

.ui-tabs .fasUpdateInfo .inventoryMessages p{
    color:gray;
    font-style: italic;
    font-size: 14px;
}
.fasUpdateInfo{
    display: block;
    margin: 0 auto 10px;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #00a0db;
    text-align: center;
}

.invLink{
    color:blue;
    cursor: pointer;

}

/* ширина диалогового окна и его отступы от экрана */
.dialogWindow{
    background: #fefefe;
    margin:15% auto;
    width: 410px;
    padding: 20px;
    border: 1px solid #888;
}

.dialogWindow input{
    margin-left: 5px;
}

.dialogWindow button{
    margin-left:125px;
}

.dialogWindow h3{
    text-align: center;
    margin-bottom: 10px;

}

#dialogWindowBackground {
    display: none;
    position:fixed;
    z-index:1;
    top:0; 
    left:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8); 
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:pointer;
}

.gcButtons{
    margin: 15px auto auto 155px;
    width: 300px;
}

.mtCaption{
    width: 650px;
}

#newRole {
    margin: 5px 5px 20px 5px;
    height: 40px;
}

#roleList {
    float: left;
    width: 40%;
    margin: auto 5px 5px;
}

.permSettings {
    width: 50%;
    float: right;
    border: 1px solid #5e852c;
    padding: 5px;
    margin-right: 60px;
    margin-bottom: 20px;
}

table.mtCaption tbody tr :nth-last-child(1) :not(input) {
    text-align: center;
}
table.mtCaption tbody tr :nth-last-child(2) :not(input){
    text-align: center;
}
table.mtCaption tbody tr :nth-last-child(4) :not(input){
    text-align: center;
}
table.mtCaption tbody tr :nth-last-child(5) :not(input){
    text-align: center;
}

/*MTDev*/
.visit_schedule {
    width: 100%;
    margin: 10px auto;
    border: 1px solid black;
}

.visit_schedule td, .visit_schedule th {
    border: 1px solid black;
    padding: 3px;
}

.visit_schedule caption{
    text-align: center;
    font-size: 20px;
    margin: 10px auto 5px;
}

.Reports input[type='radio'] {
    margin-left: 10px;
}

/*.content .generalControl .container table{
    margin: 0 auto;
    border: 1px solid black;
}
.content .generalControl .container td, .content .generalControl .container th {
    border: 1px solid black;
    padding: 3px;
}
.content .generalControl .container caption{
    text-align: center;
    font-size: 20px;
}*/

.numberOfVisits, .commonNumberOfVisits {
    table-layout: fixed;
    margin: 10px;
    width: 95%;
}
.numberOfVisits th {
    width: 50px;
}
.numberOfVisits th:first-child {
    width: 10px;
}
.numberOfVisits td:first-child {
    text-align: center;
}
.numberOfVisits th:nth-child(3),
.numberOfVisits th:nth-child(4),
.numberOfVisits th:nth-child(5),
.numberOfVisits th:nth-child(6) {
    width: 20px;
}
.numberOfVisits td:nth-child(3),
.numberOfVisits td:nth-child(4),
.numberOfVisits td:nth-child(5),
.numberOfVisits td:nth-child(6)
{
    text-align: right;
}

.commonNumberOfVisits th, .commonNumberOfVisits td {
    border: 1px solid black;
}
.commonNumberOfVisits caption {
    margin-bottom: 10px;
}

#report1, #report2 {
    margin-top: 5px;
}

#teachersPurpose {
    resize: none;
    width: 99%;
    height: 120px;
    margin-top: 5px;
    padding: 5px;
}

.vmButtons {
    width: 277px;
    margin: 10px auto 0;
}
#showPersonManagements, #savePurpose {
    margin: 0 2px;
}

.big_textarea {
    resize: none;
    width: 98.7%;
    height: 150px;
    padding: 5px;
}

.language-panel {
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.language-panel > input {
    display: none;
}
.language-panel > label:not(:first-child) {
    background-color: #ecf0f1;
    padding: 5px;
    cursor: pointer;
}
.language-panel > input:checked + label:not(:first-child) {
    background-color: #5e852c;
    color: #fefefe;
}
.language-panel > label[for="kaz-lang"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -2px;
}
.language-panel > label[for="rus-lang"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -2px;
}

#personForAPlannig, #personForATeaching, #personForAEvaluating, #personForAComplex {
    margin: 5px 0 15px 0;
    width: 98%;
}
#saveSynods {
    display: block;
    margin: 20px auto 0;
    width: 135px;
    clear: both;
}

#criteria_numbers {
    vertical-align: top;
}
#criteria_check {
    text-align: center;
}
#attestation_criterias {
    text-align: left;
}

.custom-checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox-input + .custom-checkbox-label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox-input + .custom-checkbox-label::before {
    content: '';
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-top: 5px;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
    transition: 0.1s;
}
.custom-checkbox-input + .custom-checkbox-label::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    opacity: 0;
    margin-left: -20px;
    margin-top: 5px;
    pointer-events: none;
    color: white;
    transition: 0.1s;
}
.custom-checkbox-input:checked + .custom-checkbox-label::before {
    background-color: #5e852c;
    transition: 0.1s;
}
.custom-checkbox-input:checked + .custom-checkbox-label::after {
    opacity: 1;
    transition: 0.1s;
}
/* стили при наведении курсора на checkbox */
.custom-checkbox-input:not(:disabled):not(:checked) + .custom-checkbox-label:hover::before {
    border-color: #5e852c;
    transition: 0.1s;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox-input:not(:disabled):active + .custom-checkbox-label::before {
    background-color: #C8E6C9;
    transition: 0.1s;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox-input:disabled + .custom-checkbox-label::before {
    background-color: #f0f0f0;
    cursor: inherit;
}
.custom-checkbox-input:disabled + .custom-checkbox-label::after {
    color: #6d6d6d;
}

.custom-notification-block {
    position: fixed;
    text-align: center;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 100px;
    pointer-events: none;
}
.notification-hide {
    /*top: 50px;*/
    opacity: 0;
    transition: .5s;
}
.notification-show {
    /*top: 80px;*/
    opacity: 1;
    transition: .5s;
}
.custom-notification {
    width: 90%;
    height: 90%;
    padding: 15px;
    border: 1px solid #0088b9;
    border-radius: 10px;
    font-size: 17px;
    background: #72c2dfe5;
    text-align: center;
    margin: 0 auto;
}

.visitInfo {
    display: block;
    color: red;
}

#visitSelectStartDay, #visitSelectEndDay {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    margin-top: 3px;
}

.numberOfAllVisits td:nth-child(1),
.numberOfAllVisits td:nth-child(2),
.numberOfAllVisits td:nth-child(5),
.numberOfAllVisits td:nth-child(6) {
    text-align: center;
}

#showExistedVisits {
    color: rgb(0, 55, 255);
    text-decoration: underline;
    cursor: pointer;
}